<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Find My Weekday</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Find My Weekday!</h1>
            </header>
            <p>That date was a {{output}}!</p>
            <p><a href="/">Try another date</a></p>
        </div>
    </body>
</html>
